.container {
  padding: 20px 43px 20px 20px;
  border-radius: 30px;
  background-color: var(--blue5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container:hover {
  background-color: var(--grey4);
  color: var(--white);
}

.container > h4 {
  font-family: General Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: left;
  margin-bottom: 10px;
}

.container > p:nth-child(2) {
  font-family: General Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
  margin-bottom: 10px;
  display: none;
}

.container > p:nth-child(3) {
  font-family: General Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  text-align: left;
  color: var(-grey4);
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
    border-radius: 20px;
  }

  .container > h4 {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 10px;
  }

  .container > p:nth-child(2) {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .container > p:nth-child(3) {
    font-size: 14px;
    line-height: 130%;
  }
}
