.container {
  margin: 70px 80px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 135px 40px;
  gap: 103px;
  background-color: var(--blue);
  color: var(--black);
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imageContainer {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  border-radius: 32px 0 0 32px;
  width: 60%;
}

.imageContainer > img {
  height: 100%;
  width: 100%;
  border-radius: 32px 0 0 32px;
  object-fit: cover;
}

.container > h4,
.container > div:not(.imageContainer) {
  position: relative;
  z-index: 1;
}

.container > h4 {
  width: 40%;
}

.container > div:not(.imageContainer) {
  width: 60%;
}

.container > h4 {
  font-family: General Sans;
  font-size: 54px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
  /* text-align: left; */
  color: var(--black);
  text-align: center;
}

.container > h4 > span {
  display: block;
  color: var(--white);
}

.container > div > p {
  font-family: General Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .container {
    margin: 16px;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    /* width: 100%; */
    box-sizing: border-box;
  }

  .imageContainer {
    width: 100%;
  }

  .imageContainer > img {
    border-radius: 20px 20px 20px 20px;
  }

  .container > h4,
  .container > div:not(.imageContainer) {
    flex: 1;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .container > h4 {
    font-size: 22px;
    line-height: 120%;
  }

  .container > div > p {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .container > div > button {
    margin-inline: auto;
  }
}
