.container {
  border-radius: 1px solid var(--grey2);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  flex-shrink: 0;
  overflow-y: auto;
  border-right: 1px solid var(--grey5);
}

.container > h2 {
  font-family: General Sans;
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .container {
    border-radius: 1px solid var(--grey2);
    padding-inline: 1rem;
    padding-block: 1rem;
    flex-shrink: 0;
    overflow-y: auto;
  }

  .container > h2 {
    font-family: General Sans;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 1.5rem;
  }
}
