.container {
  padding: 40px;
  height: 100%;
  overflow-y: auto;
}

.container > h4 {
  font-family: General Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.container > p:not(.forgot) {
  font-family: General Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 1rem;
}

.container > a {
  margin-inline: auto;
  margin-bottom: 2rem;
}

.consent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.consent > label {
  font-family: "General Sans";
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
  color: var(--grey4);
}

.container > button {
  margin-top: 1rem;
}

.forgot {
  margin-top: 1rem;
  text-align: left;
  font-family: General Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.forgot > span {
  color: var(--yellow);
  cursor: pointer;
  text-decoration: underline;
}

.googleSignIn {
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.googleSignIn > span {
  text-align: left;
  font-family: General Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  display: block;
  margin-bottom: 1rem;
  width: 200px;
}

.googleSignIn > div {
  width: 300px;
}

.googleSignIn > div > div > div > div {
  padding: 1.5rem 1rem;
}

.googleSignIn > div span {
  font-family: General Sans;
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 2rem;
  }

  .container > a {
    margin-inline: auto;
    margin-bottom: 2rem;
  }

  .container > button {
    width: 100%;
  }
}
