.container {
  padding: 94px 80px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header > h4 {
  font-family: General Sans;
  font-size: 44px;
  font-weight: 500;
  line-height: 86.4px;
  letter-spacing: -1px;
  text-align: left;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header > div:nth-child(2) {
  margin-left: auto;
}

.inActive {
  background-color: var(--blue5);
}

.active {
  background-color: var(--yellow);
}

.testimonials {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  gap: 20px;
  margin-top: 68px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.testimonials::-webkit-scrollbar {
  display: none;
}

.testimonials > div {
  flex-basis: 513px;
  max-height: 332px;
  gap: 19px;
  flex-shrink: 0;
  flex-grow: 0;
  scroll-snap-align: start;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 32px 16px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 42px;
    flex-wrap: wrap;
  }

  .header > h4 {
    font-family: General Sans;
    font-size: 40px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -1px;
    text-align: left;
    flex-basis: 100%;
  }

  .header > div {
    width: 65px;
    height: 65px;
  }

  .header > div:nth-child(2) {
    margin-left: auto;
  }

  .testimonials > div {
    flex-basis: 313px;
    max-height: 432px;
    gap: 19px;
  }
}
