.container {
  padding-block: 3rem;
}

.container > h1 {
  font-family: General Sans;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -3px;
  text-underline-position: from-font;
  margin-bottom: 1rem;
}

.container > p {
  font-family: General Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
  text-underline-position: from-font;
  margin-bottom: 2rem;
  color: var(--grey4);
  width: 80%;
}

@media screen and (max-width: 767px) {
  .container {
    padding-block: 1rem;
  }

  .container > h1 {
    font-size: 32px;
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
  }

  .container > p {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    width: 90%;
  }
}
