.container {
  display: flex;
  justify-content: center;
  gap: 38px;
}

.container > div {
  width: 306px;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 5px 4px 30px 0px #0000001a;
  transition: all 0.2s ease-in-out;
}

.sectionBox:nth-child(1) {
  opacity: 1;
}

.container > div:not(.corporate-1, .corporate-2, .corporate-3, .corporate-4) {
  background-color: var(--white);
}

.container > div > img {
  width: 85px;
  height: 85px;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.container > div > h4 {
  font-family: General Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

.container > div > p {
  font-family: General Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.corporate-1 {
  background-color: var(--white1);
}

.sectionBox:nth-child(1).visible {
  box-shadow: #e1e8ed -5px 5px, #e1e8edcc -10px 10px, #e1e8eda1 -15px 15px,
    #e1e8ed60 -20px 20px, #e1e8ed54 -25px 25px;
}

.corporate-2 {
  background-color: var(--biege);
}

.sectionBox:nth-child(2).visible {
  box-shadow: #f3eacb -5px 5px, #f3eacbe5 -10px 10px, #f3eacbab -15px 15px,
    #f3eacb60 -20px 20px, #f3eacb54 -25px 25px;
}

.corporate-3 {
  background-color: var(--blue);
}

.sectionBox:nth-child(3).visible {
  box-shadow: #a7c7e7 -5px 5px, #a7c7e7d7 -10px 10px, #a7c7e7a4 -15px 15px,
    #a7c7e760 -20px 20px, #a7c7e754 -25px 25px;
}

.corporate-4 {
  background-color: var(--grey6);
}

.sectionBox:nth-child(4).visible {
  box-shadow: var(--grey6) -5px 5px, #abababce -10px 10px, #ababab8f -15px 15px,
    #ababab60 -20px 20px, #ababab54 -25px 25px;
}

.container
  > .sectionBox:not(
    .corporate-1,
    .corporate-2,
    .corporate-3,
    .corporate-4
  ):hover {
  box-shadow: var(--blue) -5px 5px, var(--blue) -10px 10px,
    var(--blue) -15px 15px, #a7c7e760 -20px 20px,
    var(--blueWIthOpacity) -25px 25px;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
    padding: 0rem 1rem;
  }

  .container > div {
    width: 90%;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 5px 4px 30px 0px #0000001a;
    transition: all 0.2s ease-in-out;
    margin-inline: auto;
  }

  .container > div > img {
    width: 65px;
    margin-bottom: 0.5rem;
    height: 65px;
  }
}
