.container {
  width: 500px;
  min-height: 400px;
  text-align: center;
  padding: 2rem;
  position: relative;
}

.container > img {
  width: 200px;
  height: 200px;
}

.container > svg {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.container > h2 {
  font-family: General Sans;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 1rem;
}

.container > p {
  font-family: General Sans;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.actions > button {
  min-width: 170px;
}

.multipleActions {
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90vw;
    padding: 1rem;
  }

  .container > img {
    width: 150px;
    height: 150px;
  }

  .container > svg {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .container > h2 {
    font-family: General Sans;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .container > p {
    font-family: General Sans;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }

  .actions {
    flex-direction: column-reverse;
    gap: 0.6rem;
  }

  .actions > button {
    width: 100%;
    min-width: 0;
  }
}
