.container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  flex-basis: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container > div {
  scroll-snap-align: start;
}

.container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    margin-bottom: 1rem;
    scrollbar-width: none;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow-x: hidden;
  }

  .container > div {
    scroll-snap-align: start;
  }

  .container::-webkit-scrollbar {
    display: none;
  }
}
