@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-BoldItalic.otf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-Extralight.otf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-ExtralightItalic.otf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-Light.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-LightItalic.otf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-MediumItalic.otf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-Semibold.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-SemiboldItalic.otf");
  font-style: italic;
  font-weight: 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple: #d4a5e6;
  --coral: #f5b7b1;
  --biege: #f3eacb;
  --yellow: #edd014;
  --yellowWihOpacity: #edd01480;
  --grey: #f0f4f8;
  --white: #fff;
  --white1: #e1e8ed;
  --blue: #a7c7e7;
  --blueWIthOpacity: #a7c7e763;
  --blue2: #1b3a57;
  --blue3: #3a506b;
  --blue4: #3561ff;
  --blue5: #f8f9ff;
  --black: #000000;
  --black2: #2f4f4f;
  --grey1: #f6f6f6;
  --grey2: #909090;
  --grey2WithOpacity: #9090901f;
  --grey3: #787878;
  --grey4: #717171;
  --grey5: #ebebeb;
  --grey6: #ababab;
  --grey7: #d8d6d6;
  --grey8: #c9c9c9;
  --red: rgb(212, 47, 47);
  --headerHeight: 88px;
}

body {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "General Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Faster */
.animate-spin-fast {
  animation-duration: 0.5s;
}

/* Slower */
.animate-spin-slow {
  animation-duration: 2s;
}

/* Reverse direction */
.animate-spin-reverse {
  animation-direction: reverse;
}

/* Pause (useful to toggle) */
.animate-spin-paused {
  animation-play-state: paused;
}

.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.hide-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar ::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
