.container {
  min-height: 650px;
  display: flex;
  align-items: center;
  gap: 72px;
  padding: 0px 80px 30px 80px;
  position: relative;
}

.container > div:nth-child(2) {
  flex: 1;
}

.container > div:nth-child(1) {
  flex-basis: 45%;
}

.container > div:first-child > h1 {
  font-family: General Sans;
  font-size: 68px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 1rem;
}

.container > div:first-child > h1 > span {
  color: var(--yellow);
  display: block;
}

.container > div:first-child > p {
  font-family: General Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 1rem;
  width: 70%;
}

.imageSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.imageSection > div {
  width: 30%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.imageSection > div > img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.imageSection > div:not(.imageSection > div:nth-child(2)) {
  flex: 1;
}

.imageSection > div:nth-child(2) {
  flex: 1.4;
}

.imageSection > div > button {
  margin-inline: auto;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  min-width: 150px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imageSection > div:nth-child(2) > button {
  color: var(--white);
}

.textSection {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 12px;
}

.container > div > button {
  margin-top: 2rem;
}

.textSection > div {
  flex: 1;
}

.textSection > div {
  margin: 0;
}

.container > div:nth-child(3) {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  right: -5%;
  bottom: -5%;
  background: radial-gradient(
    circle,
    rgba(237, 208, 20, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: -1;
}

.container > div:last-child {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  left: -7%;
  top: 30%;
  background: radial-gradient(
    circle,
    rgba(167, 199, 231, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: -1;
}

.imageSection > div:hover {
  scale: 1.05;
}

.imageSection > div > img:hover {
  filter: drop-shadow(0px 7px 29px rgba(100, 100, 111, 0.2));
}

.imageSection > p {
  display: none;
  font-family: General Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

@media screen and (max-width: 767px) {
  .container {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 8px 16px 8px 16px;
  }

  .container > div:first-child > h1 {
    font-family: General Sans;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .container > div:first-child > h1 > span {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--white);
    display: inline-block;
  }

  .container > div:first-child > p {
    font-family: General Sans;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    width: 100%;
  }

  .container > div:first-child > button {
    margin-inline: auto;
  }

  .imageSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    row-gap: 4.2rem;
    position: relative;
  }

  .imageSection > div {
    min-height: 300px;
    width: 100%;
  }

  .imageSection > div:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
  }

  .imageSection > div > img:not(.imageSection > div:nth-child(2) > img) {
    height: 80%;
  }

  .imageSection > div:nth-child(2) > img {
    height: 100%;
  }

  .imageSection > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }

  .imageSection > div > button {
    font-size: 16px;
    min-width: 100px;
    padding: 0.25rem;
  }

  .imageSection > div:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .imageSection > div > img {
    width: 100%;
  }

  .textSection {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .textSection > button {
    width: 106px;
  }

  .textSection > div {
    flex: 1;
  }

  .imageSection > p {
    display: block;
  }

  .imageSection > p:nth-child(4) {
    position: absolute;
    top: 100px;
    left: 2rem;
  }
  .imageSection > p:nth-child(5) {
    position: absolute;
    top: 320px;
    right: 2rem;
  }

  .imageSection > p:nth-child(6) {
    position: absolute;
    bottom: 100px;
    left: 2rem;
  }
}
