.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
  padding: 40px 80px;
  background-color: var(--grey1);
}

.container > div {
  flex: 1;
}

.container > div:first-child {
  order: 1;
}

.container > div:first-child > div {
  display: flex;
  gap: 32px;
}

.info {
  flex: 1;
  padding: 30px;
  border: 2px solid var(--grey7);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.2s ease-in-out;
}

.info:hover {
  scale: 1.1;
}

.info > div > h4 {
  font-family: General Sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 86.4px;
  text-align: left;
  color: var(--black);
}

.info > div > p {
  font-family: General Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--grey4);
}

.info > div:nth-child(2) {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--blue);
}

.container > div:nth-child(2) > h2 {
  font-family: General Sans;
  font-size: 54px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1px;
  text-align: left;
  margin-bottom: 20px;
}

.container > div:nth-child(2) > ul {
  margin-bottom: 0px;
  list-style-type: none;
}

.container > div:nth-child(2) > ul > li {
  font-family: General Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: var(--grey4);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container > div:nth-child(2) > ul > li > span {
  display: flex;
  align-items: center;
}

.container > div:nth-child(2) > ul > li > span > b {
  display: inline;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 32px;
    padding: 2rem 1rem;
  }

  .container > div {
    flex: 1;
    width: 100%;
  }

  .container > div:first-child {
    order: 1;
  }

  .container > div:first-child > div {
    flex-direction: row;
    gap: 16px;
  }

  .info {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    gap: 0.5rem;
  }

  .info > div > h4 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 0.5rem;
  }

  .info > div > p {
    font-size: 14px;
    line-height: 120%;
  }

  .info > div:nth-child(2) {
    width: 60px;
    height: 60px;
  }

  .container > div:nth-child(2) > h2 {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .container > div:nth-child(2) > ul {
    margin-bottom: 0px;
    list-style-type: none;
  }

  .container > div:nth-child(2) > ul > li {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 12px;
    gap: 0.5rem;
  }

  .container > div:nth-child(2) > ul > li > span {
    display: flex;
    align-items: center;
  }

  .info:hover {
    scale: none;
  }
}
