.outerContainer {
  padding: 40px 80px;
  background-color: var(--grey1);
}

.outerContainer > h2 {
  font-family: General Sans;
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 32px;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 120px;
}

.container > div {
  flex-basis: 40%;
}

.container > div:nth-child(1) {
  flex-basis: 450px;
}

.container > div:nth-child(2) {
  flex-basis: 600px;
}

.container > div:first-child {
  order: 0;
}

.container > div:first-child > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  flex: 1;
  padding: 16px 32px;
  border: 2px solid var(--grey7);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  box-shadow: rgba(24, 24, 26, 0.2) 0px 7px 29px 0px;
  transition: all 0.2s ease-in-out;
  width: 450px;
  margin-left: auto;
}

.info:hover {
  scale: 1.05;
}

.info > div > h4 {
  font-family: General Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  color: var(--black);
}

.info > div > p {
  font-family: General Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--grey4);
}

.info > div:nth-child(2) {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--blue);
}

.container > div:nth-child(1) {
  margin-bottom: 1rem;
}

.container > div:nth-child(2) > h2 {
  font-family: General Sans;
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
  text-align: left;
  margin-bottom: 20px;
}

.container > div:nth-child(2) > ul {
  margin-bottom: 0px;
  list-style-type: none;
}

.container > div:nth-child(2) > ul > li {
  font-family: General Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
  color: var(--grey4);
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.container > div:nth-child(2) > ul > li > span {
  display: flex;
  align-items: center;
}

.container > div:nth-child(2) > ul > li > span > img {
  width: 80px;
  height: 80px;
}

.container > div:nth-child(2) > ul > li > span > b {
  display: inline;
}

@media screen and (max-width: 767px) {
  .outerContainer {
    padding: 2rem 1rem;
  }

  .container {
    flex-direction: column;
    gap: 32px;
  }

  .container > div {
    flex: 1;
    width: 100%;
    flex-basis: auto;
  }

  .container > div:first-child {
    order: 1;
  }

  .container > div:nth-child(2),
  .container > div:nth-child(1) {
    flex-basis: auto;
  }

  .container > div:first-child > div {
    flex-direction: column;
    gap: 8px;
  }

  .info {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    gap: 0.5rem;
    width: 75%;
    margin-inline: auto;
  }

  .info > div > h4 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 0.5rem;
  }

  .info > div > p {
    font-size: 12px;
    line-height: 120%;
  }

  .info > div:nth-child(2) {
    width: 50px;
    height: 50px;
  }

  .outerContainer > h2 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 16px;
    text-align: center;
  }

  .container > div:nth-child(2) > ul {
    margin-bottom: 0px;
    list-style-type: none;
  }

  .container > div:nth-child(2) > ul > li {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;
    gap: 0.5rem;
  }

  .container > div:nth-child(2) > ul > li > span {
    display: flex;
    align-items: center;
  }

  .container > div:nth-child(2) > ul > li > span > img {
    width: 70px;
    height: 70px;
  }

  .info:hover {
    scale: none;
  }
}
