.container {
  padding: 78px 80px;
}

.container > h4 {
  font-family: General Sans;
  font-size: 36px;
  font-weight: 500;
  line-height: 48.6px;
  letter-spacing: -1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 100px;
}

.container > div {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container > div::-webkit-scrollbar {
  display: none;
}

.container > div > img {
  min-width: 273px;
  height: 78px;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 2rem 16px;
  }

  .container > h4 {
    font-size: 28px;

    margin-bottom: 52px;
  }

  .container > div {
    display: flex;
    align-items: center;
    gap: 32px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container > div::-webkit-scrollbar {
    display: none;
  }

  .container > div > img {
    min-width: 173px;
    height: 78px;
    flex-shrink: 0;
  }
}
