.container {
  display: flex;
  gap: 0.2rem;
}

.container > li {
  list-style-type: none;
}

.container > li:last-child > span {
  display: none;
}

.container > li {
  font-family: "General Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: var(--blue2);
}

.container > li > a {
  transition: all 0.2s ease-in-out;
}

.container > li > a:hover {
  color: var(--black);
}
