.container {
  padding: 20px 100px;
}

.container > h4 {
  font-family: General Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.container > p {
  font-family: General Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rateSection {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.navSection {
  margin-block: 2rem;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1.5rem;
  }
}
